/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Arial";

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://michael-weylandt.com/STA9750-OMSBA/baruch_background.png");
  background-size: 100% 100%;
}

.slide h2 {
  color: #FFFFFF;
  font-size: 2em;
  margin-bottom: 2.5%;
  margin-top: -1%;
  padding: -2% 0 1.5% 0;
 }

#title-slide .title {
  font-size: 1.5em;
}

